.AboutBodyContainer {
    max-width: 100%;
}

.AboutBody {
    font-family:"Abel", sans-serif;
    font-size: clamp(0.6rem, 2.5vw, 2.8rem);
    max-width: 80%;
    margin-inline: auto;
    background-color: #424549;
    color:white;
    border-radius: 10px;
    padding: 5%;
}