.slideshowContainer {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color:rgba(74, 74, 74, 0.8);
    position: fixed;
}

.leftArrow {
    font-size: clamp(1rem, 5vw, 4em);
    color: white;
    left: 2%;
    position: fixed;
    top: 50%;
}

.leftArrow:hover, .rightArrow:hover, .closeButton:hover {
    cursor: pointer;
}

.rightArrow {
    font-size: clamp(1rem, 5vw, 4em);
    color: white;
    right: 2%;
    position: fixed;
    top: 50%;
}

.closeButton {
    font-size: clamp(1rem, 5vw, 3em);
    color: white;
    right: 2%;
    top: 2%;
    position: fixed;
}

.slideshowImageContainer {
    justify-items: flex-start;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 80%;
    min-height: 100%;
}

.slideshowAnimation {
    max-height: 80vh;
    max-width: 80%;
    justify-self: center;
    align-self: center;
}

.slideshowImage {
    max-height: 80vh;
    max-width: 80%;
    justify-self: center;
    align-self: center;
    user-select: none;
}

.descriptionSection {
    color:white;
    font-family:"Abel", sans-serif;
    font-size: clamp(0.6rem, 2.5vw, 1.5rem);
    margin-left: 50px;
    margin-right: 50px;
    justify-self: center;
    align-self: center;
}